<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" href="/images/logo.jpeg">
        <title>Kiran Transport Packers and movers</title>
        <script src="https://cdn.tailwindcss.com"></script>
        <!-- FONTS -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
            integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
            crossorigin="anonymous" referrerpolicy="no-referrer" />
    
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap"
            rel="stylesheet">
        <script src="https://unpkg.com/ionicons@4.5.10-0/dist/ionicons.js"></script>
    </head>
<body>
    <div class="w-full h-[50px] bg-indigo-600 flex justify-between items-center text-white text-[20px] px-8">
        <p class="hidden sm:block">
            <i class="fa-solid fa-envelope"></i> kiranmoversandpackers@gmail.com

        </p>
        <p class="animate-bounce mx-auto">
            <i class="fa-solid fa-phone"></i> Call : 8789843898
        </p>
    </div>

        <!-- navbar section -->
        <header class="bg-gradient-to-t from-[#fbc2eb] to-[#a6c1ee] ">
            <nav class="flex justify-between items-center w-[92%]  mx-auto">
                <div>
                    <img class="w-[100px] h-[64px] cursor-pointer" src="/images/logo.jpeg"
                    alt="..." style="mix-blend-mode:darken;">
                </div>
                <div
                    class="navbar duration-500 md:static absolute bg-gradient-to-t from-[#fbc2eb] to-[#a6c1ee]  md:min-h-fit min-h-[60vh] left-0 top-[-100%] md:w-auto  w-full flex items-center px-5">
                    <ul class="flex md:flex-row flex-col md:items-center md:gap-[4vw] gap-8">
                        <li>
                            <a class="font-bold hover:text-gray-500" href="/">HOME</a>
                        </li>
                        <li>
                            <a class="font-bold hover:text-gray-500" href="/about">ABOUT</a>
                        </li>
                        <li>
                            <a class="font-bold hover:text-gray-500" href="/services">SERVICES</a>
                        </li>
                        <li>
                            <a class="font-bold hover:text-gray-500" href="/gallary">GALLERY</a>
                        </li>
                        <li>
                            <a class="font-bold hover:text-gray-500" href="/contact">CONTACT</a>
                        </li>
                    </ul>
                </div>
                <div class="flex items-center gap-6">
                    <button
                        class="bg-indigo-600 hover:border-2 hover:border-black text-white px-5 py-2 rounded-full  hover:bg-gradient-to-t from-[#fbc2eb] to-[#a6c1ee] hover:text-black hidden sm:block">
                        <i class="fa-solid fa-phone"></i>CALL US</button>
                    <ion-icon onclick="onToggleMenu(this)" name="menu" class="text-3xl cursor-pointer md:hidden"></ion-icon>
                </div>
        </header>
        <div class="w-full h-[100px] flex justify-center text-center items-center  text-white"  style="background-image:linear-gradient(rgba(0, 0, 0, .7), rgba(0, 0, 0, .7)), url(/images/hero-bg.jpg);">
           <div> <h class="text-2xl">About us</h>
            <h5 class="font-bold"><a href="/" class="hover:text-indigo-700">Home</a> <span class=" ">! about us </span></h5></div>
        </div>

        <div class="w-full bg-white">
            <div class="text-center mb-12 mt-12">
                <h5 class="text-base md:text-lg text-indigo-700 mb-1">About us</h5>
                <h1 class="text-4xl md:text-6xl text-gray-700 font-semibold">About us</h1>
            </div>
        </div>

        
    <!-- about section -->
    <div class="relative isolate overflow-hidden bg-white px-6 py-24 sm:py-32 lg:overflow-visible lg:px-0">
        <div class="absolute inset-0 -z-10 overflow-hidden">
            <svg class="absolute left-[max(50%,25rem)] top-0 h-[64rem] w-[128rem] -translate-x-1/2 stroke-gray-200 [mask-image:radial-gradient(64rem_64rem_at_top,white,transparent)]"
                aria-hidden="true">
                <defs>
                    <pattern id="e813992c-7d03-4cc4-a2bd-151760b470a0" width="200" height="200" x="50%" y="-1"
                        patternUnits="userSpaceOnUse">
                        <path d="M100 200V.5M.5 .5H200" fill="none" />
                    </pattern>
                </defs>
                <svg x="50%" y="-1" class="overflow-visible fill-gray-50">
                    <path
                        d="M-100.5 0h201v201h-201Z M699.5 0h201v201h-201Z M499.5 400h201v201h-201Z M-300.5 600h201v201h-201Z"
                        stroke-width="0" />
                </svg>
                <rect width="100%" height="100%" stroke-width="0" fill="url(#e813992c-7d03-4cc4-a2bd-151760b470a0)" />
            </svg>
        </div>
        <div
            class="mx-auto grid max-w-2xl grid-cols-1 gap-x-8 gap-y-16 lg:mx-0 lg:max-w-none lg:grid-cols-2 lg:items-start lg:gap-y-10">
            <div
                class="lg:col-span-2 lg:col-start-1 lg:row-start-1 lg:mx-auto lg:grid lg:w-full lg:max-w-7xl lg:grid-cols-2 lg:gap-x-8 lg:px-8">
                <div class="lg:pr-4">
                    <div class="lg:max-w-lg">
                        <p class="text-base font-semibold leading-7 text-indigo-600">WELCOME TO</p>
                        <h1 class="mt-2 text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">Kiran Transport
                            Packers & Movers
                        </h1>
                        <p class="mt-6 text-xl leading-8 text-gray-700">We provide a smooth delivery of various things related to your furniture or either your workhouse materials to the specific place mentioned. It is a home based company now but will land up into various more cities according to the tracking provided.

                            We have all the types of transportations that will make a easy for your materials to move up into certain place . We have a delicate members where we can ensure you the best results and the safe landing to your products..</p>
                    </div>
                </div>
            </div>
            <div
                class="-ml-12 -mt-12 p-12 lg:sticky lg:top-4 lg:col-start-2 lg:row-span-2 lg:row-start-1 lg:overflow-hidden">
                <img class="w-[48rem] max-w-none rounded-xl bg-gray-900 shadow-xl ring-1 ring-gray-400/10 sm:w-[57rem]"
                    src="/images/about-image.jpg" alt="">
            </div>
            <div
                class="lg:col-span-2 lg:col-start-1 lg:row-start-2 lg:mx-auto lg:grid lg:w-full lg:max-w-7xl lg:grid-cols-2 lg:gap-x-8 lg:px-8">
                <div class="lg:pr-4">
                    <div class="max-w-xl text-base leading-7 text-gray-700 lg:max-w-lg">
                        <p>Faucibus commodo massa rhoncus, volutpat. Dignissim sed eget risus enim. Mattis
                            mauris semper
                            sed amet vitae sed turpis id. Id dolor praesent donec est. Odio penatibus risus
                            viverra
                            tellus varius sit neque erat velit. Faucibus commodo massa rhoncus, volutpat.
                            Dignissim sed
                            eget risus enim. Mattis mauris semper sed amet vitae sed turpis id.</p>
                        <ul role="list" class="mt-8 space-y-8 text-gray-600">
                            <li class="flex gap-x-3">
                                <svg class="mt-1 h-5 w-5 flex-none text-indigo-600" viewBox="0 0 20 20"
                                    fill="currentColor" aria-hidden="true">
                                    <path fill-rule="evenodd"
                                        d="M5.5 17a4.5 4.5 0 01-1.44-8.765 4.5 4.5 0 018.302-3.046 3.5 3.5 0 014.504 4.272A4 4 0 0115 17H5.5zm3.75-2.75a.75.75 0 001.5 0V9.66l1.95 2.1a.75.75 0 101.1-1.02l-3.25-3.5a.75.75 0 00-1.1 0l-3.25 3.5a.75.75 0 101.1 1.02l1.95-2.1v4.59z"
                                        clip-rule="evenodd" />
                                </svg>
                                <span><strong class="font-semibold text-gray-900">Responsbility</strong>
                                    As we already mentioned , safety is something we consider the most thing in our business. We ensure you , the timely and pricesely the most fairness delivery of your materials.</span>
                            </li>
                            <li class="flex gap-x-3">
                                <svg class="mt-1 h-5 w-5 flex-none text-indigo-600" viewBox="0 0 20 20"
                                    fill="currentColor" aria-hidden="true">
                                    <path fill-rule="evenodd"
                                        d="M10 1a4.5 4.5 0 00-4.5 4.5V9H5a2 2 0 00-2 2v6a2 2 0 002 2h10a2 2 0 002-2v-6a2 2 0 00-2-2h-.5V5.5A4.5 4.5 0 0010 1zm3 8V5.5a3 3 0 10-6 0V9h6z"
                                        clip-rule="evenodd" />
                                </svg>
                                <span><strong class="font-semibold text-gray-900">Safty</strong>
                                    We have integrity and honesty, While doing any business these are one of the important key factors that determines our success. So, regarding this we have the most honest and flexible team in our startup.</span>
                            </li>
                            <li class="flex gap-x-3">
                                <svg class="mt-1 h-5 w-5 flex-none text-indigo-600" viewBox="0 0 20 20"
                                    fill="currentColor" aria-hidden="true">
                                    <path
                                        d="M4.632 3.533A2 2 0 016.577 2h6.846a2 2 0 011.945 1.533l1.976 8.234A3.489 3.489 0 0016 11.5H4c-.476 0-.93.095-1.344.267l1.976-8.234z" />
                                    <path fill-rule="evenodd"
                                        d="M4 13a2 2 0 100 4h12a2 2 0 100-4H4zm11.24 2a.75.75 0 01.75-.75H16a.75.75 0 01.75.75v.01a.75.75 0 01-.75.75h-.01a.75.75 0 01-.75-.75V15zm-2.25-.75a.75.75 0 00-.75.75v.01c0 .414.336.75.75.75H13a.75.75 0 00.75-.75V15a.75.75 0 00-.75-.75h-.01z"
                                        clip-rule="evenodd" />
                                </svg>
                                <span><strong class="font-semibold text-gray-900">Mission</strong>
                                    Our mission is to be the best of all. Where we can introspect your selected materials and work on it very wisely . We are one the road to have a very bright future of your company by work hard following all the ethics.</span>
                            </li>
                        </ul>
                        <p class="mt-8">In this Pandemic time too, we are trying our best to reach out the people genuinely and play a integral part of their liitle exchangement of places. This is only the starting we are going to reach the milestones really soon . With the help of you people always primarily. We have tried and will try to provide the etiquette means of communication and transportation we can provide you with honesty and hard-working.</p>
                        <h2 class="mt-16 text-2xl font-bold tracking-tight text-gray-900">Benifits Of Working With Us</h2>
                        <p class="mt-6">As it is mentioned already we pack and deliver the goods very professionally . Unlike other kinds of general movers . We are accountable for everything we do while shifting your goods . Sometimes, when goods are asked to transport the goods to another cities or any outside area of the town . The general movers they do not claim a secured and safe dispatch of goods . And this creates a havvoc to the clients . So, regarding this and keeping the view very specifically we provide an insurance department that handles all the things that caused dammage to your product and we also take all the liability. We have a authorized team with all legal requirements that omits any type of fraudent and stilling of goods unlike others who don't have appropriate measures.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

       <!-- footer section -->
       <footer class="relative bg-gradient-to-bl from-gray-900 via-black to-sky-950 to95% text-gray-50">
        <div class="container mx-auto px-6">
            <div class="grid-cols-12">
                <div class="col-span-12">
                    <div class="py-[60px] px-0">
                        <div class="grid md:grid-cols-12 grid-cols-1 gap-[30px]">
                            <div class="lg:col-span-4 md:col-span-12">
                                <span
                                    class="text-2xl text-indigo-400 font-semibold flex justify-center lg:justyfy-start">Kiran Transport
                                    </span>
                                <p class="mt-6 text-gray-300 text-jutify">We provide a smooth delivery of various things
                                    related to your furniture or either your workhouse materials to the specific place
                                    mentioned. It is a home based company now but will land up into various more cities
                                    according to the tracking provided.
                                </p>
                                <ul class="list-none mt-6 text-center lg:text-jutify">
                                    <li class="inline">
                                        <a href=""
                                            class="font-semibold tracking-wide align-middle transition duration-500 ease-in-out p-1 h-9 inline-flex items-center text-center justify-center text-sm border border-gray-800 rounded-md hover:border-yellow-600 hover:bg-yellow-600"><i
                                                class="fa-brands fa-facebook text-2xl"></i></a>
                                    </li>
                                    <li class="inline">
                                        <a href=""
                                            class="font-semibold tracking-wide align-middle transition duration-500 ease-in-out p-1 h-9 inline-flex items-center text-center justify-center text-sm border border-gray-800 rounded-md hover:border-yellow-600 hover:bg-yellow-600"><i
                                                class="fa-brands fa-instagram text-2xl"></i></a>
                                    </li>
                                    <li class="inline">
                                        <a href="https://wa.link/2qwnzx"
                                            class="font-semibold tracking-wide align-middle transition duration-500 ease-in-out p-1 h-9 inline-flex items-center text-center justify-center text-sm border border-gray-800 rounded-md hover:border-yellow-600 hover:bg-yellow-600"><i
                                                class="fa-brands fa-whatsapp text-2xl"></i></a>
                                    </li>
                                    <li class="inline">
                                        <a href=""
                                            class="font-semibold tracking-wide align-middle transition duration-500 ease-in-out p-1 h-9 inline-flex items-center text-center justify-center text-sm border border-gray-800 rounded-md hover:border-yellow-600 hover:bg-yellow-600"><i
                                                class="fa-brands fa-twitter text-2xl"></i></a>
                                    </li>
                                </ul>
                            </div>
                            <div class="lg:col-span-2 md:col-span-4 text-center lg:text-jutify">
                                <h5 class="tracking-[1px] text-indigo-400 font-semibold">Quick Links</h5>
                                <ul class="list-none mt-6">
                                    <li><a href="/about"
                                            class="text-gray-300 hover:text-gray-400 transition-all duration-500 ease-in-out">About
                                            us</a>
                                    </li>

                                    <li class="mt-[10px]">
                                        <a href="/services"
                                            class="text-gray-300 hover:text-gray-400 transition-all duration-500 ease-in-out">Services</a>
                                    </li>
                                    <li class="mt-[10px]">
                                        <a href="/gallary"
                                            class="text-gray-300 hover:text-gray-400 transition-all duration-500 ease-in-out">Gallary</a>
                                    </li>
                                    <li class="mt-[10px]">
                                        <a href="/"
                                            class="text-gray-300 hover:text-gray-400 transition-all duration-500 ease-in-out">Home</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="lg:col-span-2 md:col-span-4 text-center lg:text-jutify">
                                <h5 class="tracking-[1px] text-indigo-400 font-semibold">Important</h5>
                                <ul class="list-none mt-6">
                                    <li><a href="/terms"
                                            class="text-gray-300 hover:text-gray-400 transition-all duration-500 ease-in-out">Terms
                                            of Services
                                            </a>
                                    </li>

                                    <li class="mt-[10px]">
                                        <a href="/policy"
                                            class="text-gray-300 hover:text-gray-400 transition-all duration-500 ease-in-out">Privacy
                                            Policy</a>
                                    </li>
                                    <li class="mt-[10px]">
                                        <a href=""
                                            class="text-gray-300 hover:text-gray-400 transition-all duration-500 ease-in-out">Become
                                            a Partner</a>
                                    </li>
                                    <li class="mt-[10px]">
                                        <a href=""
                                            class="text-gray-300 hover:text-gray-400 transition-all duration-500 ease-in-out">Home</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="lg:col-span-4 md:col-span-12">
                                <span
                                    class="text-2xl text-indigo-400 font-semibold flex justify-center lg:justyfy-start">Get
                                    in Touch
                                </span>
                                <div>
                                    <div class="mt-[16px]">
                                        <label for="price"
                                            class="text-gray-300 hover:text-gray-400 transition-all duration-500 ease-in-out ">Email
                                            Address</label>
                                        <div class="relative mt-2 rounded-md shadow-sm">
                                            <div
                                                class="pointer-events-none absolute inset-y-0 left-0 flex items-center pl-3">

                                            </div>
                                            <input type="text" name="email" id="email"
                                                class="block w-full rounded-md border-0 py-1.5 pl-7 pr-20 text-gray-900 ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
                                                placeholder="email address">

                                        </div>

                                    </div>
                                    <div class="mt-[25px]">
                                        <button><a href="#"
                                                class="rounded-md bg-indigo-600 px-3.5 py-2.5 text-sm font-semibold text-white shadow-sm hover:bg-gradient-to-t from-[#fbc2eb] to-[#a6c1ee]focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">SUBMIT
                                            </a></button>
                                    </div>

                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>


        <script src="/javascripts/script.js"></script>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</body>

</html>