<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Kiran Transport Packers and movers</title>
        <link rel="icon" href="/images/logo.jpeg">
        <script src="https://cdn.tailwindcss.com"></script>
        <!-- FONTS -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
            integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
            crossorigin="anonymous" referrerpolicy="no-referrer" />
    
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap"
            rel="stylesheet">
        <script src="https://unpkg.com/ionicons@4.5.10-0/dist/ionicons.js"></script>
    </head>
<body>
    <div class="w-full h-[50px] bg-indigo-600 flex justify-between items-center text-white text-[20px] px-8">
        <p class="hidden sm:block">
            <i class="fa-solid fa-envelope"></i> kiranmoversandpackers@gmail.com

        </p>
        <p class="animate-bounce mx-auto">
            <i class="fa-solid fa-phone"></i> Call : 8789843898
        </p>
    </div>

      <!-- navbar section -->
      <header class="bg-gradient-to-t from-[#fbc2eb] to-[#a6c1ee] ">
        <nav class="flex justify-between items-center w-[92%]  mx-auto">
            <div>
                <img class="w-[100px] h-[64px] cursor-pointer" src="/images/logo.jpeg"
                    alt="..." style="mix-blend-mode:darken;">
            </div>
            <div
                class="navbar duration-500 md:static absolute bg-gradient-to-t from-[#fbc2eb] to-[#a6c1ee]  md:min-h-fit min-h-[60vh] left-0 top-[-100%] md:w-auto  w-full flex items-center px-5">
                <ul class="flex md:flex-row flex-col md:items-center md:gap-[4vw] gap-8">
                    <li>
                        <a class="font-bold hover:text-gray-500" href="/">HOME</a>
                    </li>
                    <li>
                        <a class="font-bold hover:text-gray-500" href="/about">ABOUT</a>
                    </li>
                    <li>
                        <a class="font-bold hover:text-gray-500" href="/services">SERVICES</a>
                    </li>
                    <li>
                        <a class="font-bold hover:text-gray-500" href="/gallary">GALLERY</a>
                    </li>
                    <li>
                        <a class="font-bold hover:text-gray-500" href="/contact">CONTACT</a>
                    </li>
                </ul>
            </div>
            <div class="flex items-center gap-6">
                <button
                    class="bg-indigo-600 hover:border-2 hover:border-black text-white px-5 py-2 rounded-full  hover:bg-gradient-to-t from-[#fbc2eb] to-[#a6c1ee] hover:text-black hidden sm:block">
                    <i class="fa-solid fa-phone"></i>CALL US</button>
                <ion-icon onclick="onToggleMenu(this)" name="menu" class="text-3xl cursor-pointer md:hidden"></ion-icon>
            </div>
    </header>
    <div class="w-full h-[100px] flex justify-center text-center items-center  text-white"  style="background-image:linear-gradient(rgba(0, 0, 0, .7), rgba(0, 0, 0, .7)), url(/images/hero-bg.jpg);">
       <div> <h class="text-2xl">Our Services</h>
        <h5 class="font-bold"><a href="/">Home</a> <span class=" ">! our services </span></h5></div>
    </div>
<!-- services section -->
    <section class="md:h-full flex items-center text-gray-600 bg-gradient-to-t from-[#fbc2eb] to-[#a6c1ee]">
        <div class="container px-5 py-24 mx-auto">
            <div class="text-center mb-12">
                <h5 class="text-base md:text-lg text-indigo-700 mb-1">Services</h5>
                <h1 class="text-4xl md:text-6xl text-gray-700 font-semibold">our services</h1>
            </div>
            <div class="flex flex-wrap -m-4">
                <div class="p-4 sm:w-1/2 lg:w-1/3">
                    <div class="h-full border-2 border-indigo-700 border-opacity-60 rounded-lg overflow-hidden">
                        <img class="lg:h-72 md:h-48 w-full object-cover object-center"
                            src="/images/services/home-shifting.jpg" alt="blog">
                        <div class="p-6  hover:bg-indigo-700 hover:text-white transition duration-300 ease-in">
                            
                            <h1 class="text-2xl font-semibold mb-3">HOME SHIFTING</h1>
                            <p class="leading-relaxed mb-3">We somehow know , it is so difficult for anyone to relocate themselves from one house to another. Along with all the furnitures and all their cars and stuffs.</p>
                            <div class="flex items-center flex-wrap ">
                                <button><a href="/contact"
                                    class="rounded-md  bg-indigo-600 px-3.5 py-2.5 text-sm font-semibold text-white shadow-sm hover:bg-gradient-to-t from-[#fbc2eb] to-[#a6c1ee]focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">CONTACT US
                                    </a></button>
            
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="p-4 sm:w-1/2 lg:w-1/3">
                    <div class="h-full border-2 border-indigo-700 border-opacity-60 rounded-lg overflow-hidden">
                        <img class="lg:h-72 md:h-48 w-full object-cover object-center"
                            src="/images/services/car-shifting.jpg" alt="blog">
                        <div class="p-6 hover:bg-indigo-700 hover:text-white transition duration-300 ease-in">
                           
                            <h1 class="text-2xl font-semibold mb-3">CAR SHIFTING</h1>
                            <p class="leading-relaxed mb-3">Kiran Transport Packers & Movers is well known Car Transportation Service company in India, which are providing Car Transportation Services.</p>
                            <div class="flex items-center flex-wrap ">
                                <button><a href="/contact"
                                    class="rounded-md  bg-indigo-600 px-3.5 py-2.5 text-sm font-semibold text-white shadow-sm hover:bg-gradient-to-t from-[#fbc2eb] to-[#a6c1ee]focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">CONTACT US
                                    </a></button>
                               
                            </div>
                        </div>
                    </div>
                </div>
                <div class="p-4 sm:w-1/2 lg:w-1/3">
                    <div class="h-full border-2 border-indigo-700 border-opacity-60 rounded-lg overflow-hidden">
                        <img class="lg:h-72 md:h-48 w-full object-cover object-center"
                            src="/images/services/office-shifting.jpg" alt="blog">
                        <div class="p-6 hover:bg-indigo-700 hover:text-white transition duration-300 ease-in">
                           
                            <h1 class="text-2xl font-semibold mb-3">OFFICE SHIFTING</h1>
                            <p class="leading-relaxed mb-3">Wether it's a simple moving out from one house to another or you give the complete change to your office. Our staff is thoroughly experienced.</p>
                            <div class="flex items-center flex-wrap ">
                                <button><a href="/contact"
                                    class="rounded-md  bg-indigo-600 px-3.5 py-2.5 text-sm font-semibold text-white shadow-sm hover:bg-gradient-to-t from-[#fbc2eb] to-[#a6c1ee]focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">CONTACT US
                                    </a></button>
                               
                            </div>
                        </div>
                    </div>
                </div>
                <div class="p-4 sm:w-1/2 lg:w-1/3">
                    <div class="h-full border-2 border-indigo-700 border-opacity-60 rounded-lg overflow-hidden">
                        <img class="lg:h-72 md:h-48 w-full object-cover object-center"
                            src="/images/services/local-shifting.jpg" alt="blog">
                        <div class="p-6 hover:bg-indigo-700 hover:text-white transition duration-300 ease-in">
                           
                            <h1 class="text-2xl font-semibold mb-3">LOACAL SHIFTING</h1>
                            <p class="leading-relaxed mb-3">We provide you the idea and how to manage and locate the goods in the specific area. We also help in local shifting and relocation.</p>
                            <div class="flex items-center flex-wrap ">
                               
                                <button><a href="/contact"
                                    class="rounded-md  bg-indigo-600 px-3.5 py-2.5 text-sm font-semibold text-white shadow-sm hover:bg-gradient-to-t from-[#fbc2eb] to-[#a6c1ee]focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">CONTACT US
                                    </a></button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="p-4 sm:w-1/2 lg:w-1/3">
                    <div class="h-full border-2 border-indigo-700 border-opacity-60 rounded-lg overflow-hidden">
                        <img class="lg:h-72 md:h-48 w-full object-cover object-center"
                            src="/images/services/bike transport.jpg" alt="blog">
                        <div class="p-6 hover:bg-indigo-700 hover:text-white transition duration-300 ease-in">
                           
                            <h1 class="text-2xl font-semibold mb-3">BIKE TRANSPORTATION</h1>
                            <p class="leading-relaxed mb-3">Bikes Transportation, includes the transportation of your bikes ranging from all models. We have mechanism working for all.</p>
                            <div class="flex items-center flex-wrap ">
                                <button><a href="/contact"
                                    class="rounded-md  bg-indigo-600 px-3.5 py-2.5 text-sm font-semibold text-white shadow-sm hover:bg-gradient-to-t from-[#fbc2eb] to-[#a6c1ee]focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">CONTACT US
                                    </a></button>
                               
                            </div>
                        </div>
                    </div>
                </div>
                <div class="p-4 sm:w-1/2 lg:w-1/3">
                    <div class="h-full border-2 border-indigo-700 border-opacity-60 rounded-lg overflow-hidden">
                        <img class="lg:h-72 md:h-48 w-full object-cover object-center"
                            src="/images/services/corporate.jpg" alt="blog">
                        <div class="p-6 hover:bg-indigo-700 hover:text-white transition duration-300 ease-in">
                           
                            <h1 class="text-2xl font-semibold mb-3">CORPORATE RELOCTION</h1>
                            <p class="leading-relaxed mb-3">Among Leading Packing and Moving Company available in India, we at Kiran Transport Packers & Movers offers complete door to door services.</p>
                            <div class="flex items-center flex-wrap ">
                                <button><a href="/contact"
                                    class="rounded-md  bg-indigo-600 px-3.5 py-2.5 text-sm font-semibold text-white shadow-sm hover:bg-gradient-to-t from-[#fbc2eb] to-[#a6c1ee]focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">CONTACT US
                                    </a></button>
                               
                            </div>
                        </div>
                    </div>
                </div>
                <div class="p-4 sm:w-1/2 lg:w-1/3">
                    <div class="h-full border-2 border-indigo-700 border-opacity-60 rounded-lg overflow-hidden">
                        <img class="lg:h-72 md:h-48 w-full object-cover object-center"
                            src="/images/services/household-shift.jpg" alt="blog">
                        <div class="p-6 hover:bg-indigo-700 hover:text-white transition duration-300 ease-in">
                           
                            <h1 class="text-2xl font-semibold mb-3">HOUSEHOLD SHIFTING</h1>
                            <p class="leading-relaxed mb-3">Kiran Transport Packers & Movers bring you knowledgeable household packers and movers who give door-to-door household items.</p>
                            <div class="flex items-center flex-wrap ">
                                <button><a href="/contact"
                                    class="rounded-md  bg-indigo-600 px-3.5 py-2.5 text-sm font-semibold text-white shadow-sm hover:bg-gradient-to-t from-[#fbc2eb] to-[#a6c1ee]focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">CONTACT US
                                    </a></button>
                               
                            </div>
                        </div>
                    </div>
                </div>
                <div class="p-4 sm:w-1/2 lg:w-1/3">
                    <div class="h-full border-2 border-indigo-700 border-opacity-60 rounded-lg overflow-hidden">
                        <img class="lg:h-72 md:h-48 w-full object-cover object-center"
                            src="/images/services/packing.jpg" alt="blog">
                        <div class="p-6 hover:bg-indigo-700 hover:text-white transition duration-300 ease-in">
                           
                            <h1 class="text-2xl font-semibold mb-3">PACKING AND MOVING</h1>
                            <p class="leading-relaxed mb-3">As a leading company in this field, Kiran Transport Packers & Movers Bhagalpur is offering its excellent services for any type of movement work.</p>
                            <div class="flex items-center flex-wrap ">
                                <button><a href="/contact"
                                    class="rounded-md  bg-indigo-600 px-3.5 py-2.5 text-sm font-semibold text-white shadow-sm hover:bg-gradient-to-t from-[#fbc2eb] to-[#a6c1ee]focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">CONTACT US
                                    </a></button>
                               
                            </div>
                        </div>
                    </div>
                </div>
                <div class="p-4 sm:w-1/2 lg:w-1/3">
                    <div class="h-full border-2 border-indigo-700 border-opacity-60 rounded-lg overflow-hidden">
                        <img class="lg:h-72 md:h-48 w-full object-cover object-center"
                            src="/images/services/loading-unloading.jpg" alt="blog">
                        <div class="p-6 hover:bg-indigo-700 hover:text-white transition duration-300 ease-in">
                           
                            <h1 class="text-2xl font-semibold mb-3">LOADING AND UNLOADING</h1>
                            <p class="leading-relaxed mb-3">We avail loading and unloading of small things like househols small furnitures to the great scale materials required for rebuilding the company or industry.</p>
                            <div class="flex items-center flex-wrap ">
                                <button><a href="/contact"
                                    class="rounded-md  bg-indigo-600 px-3.5 py-2.5 text-sm font-semibold text-white shadow-sm hover:bg-gradient-to-t from-[#fbc2eb] to-[#a6c1ee]focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">CONTACT US
                                    </a></button>
                               
                            </div>
                        </div>
                    </div>
                </div>
                <div class="p-4 sm:w-1/2 lg:w-1/3">
                    <div class="h-full border-2 border-indigo-700 border-opacity-60 rounded-lg overflow-hidden">
                        <img class="lg:h-72 md:h-48 w-full object-cover object-center"
                            src="/images/services/domestic.jpg" alt="blog">
                        <div class="p-6 hover:bg-indigo-700 hover:text-white transition duration-300 ease-in">
                           
                            <h1 class="text-2xl font-semibold mb-3">DOMESTIC RELOCTION</h1>
                            <p class="leading-relaxed mb-3">Our organization is offering a wide range of Local Shifting Service. These services are rendered using high-quality transportation.</p>
                            <div class="flex items-center flex-wrap ">
                                <button><a href="/contact"
                                    class="rounded-md  bg-indigo-600 px-3.5 py-2.5 text-sm font-semibold text-white shadow-sm hover:bg-gradient-to-t from-[#fbc2eb] to-[#a6c1ee]focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">CONTACT US
                                    </a></button>
                               
                            </div>
                        </div>
                    </div>
                </div>
                <div class="p-4 sm:w-1/2 lg:w-1/3">
                    <div class="h-full border-2 border-indigo-700 border-opacity-60 rounded-lg overflow-hidden">
                        <img class="lg:h-72 md:h-48 w-full object-cover object-center"
                            src="/images/services/warehouse-storage.jpg" alt="blog">
                        <div class="p-6 hover:bg-indigo-700 hover:text-white transition duration-300 ease-in">
                           
                            <h1 class="text-2xl font-semibold mb-3">WAREHOUSING AND STORAGE</h1>
                            <p class="leading-relaxed mb-3">To all the goods that you have to store for other business purposes , we give you the offer to customize into one particular warehouse stores.</p>
                            <div class="flex items-center flex-wrap ">
                               
                                <button><a href="/contact"
                                    class="rounded-md  bg-indigo-600 px-3.5 py-2.5 text-sm font-semibold text-white shadow-sm hover:bg-gradient-to-t from-[#fbc2eb] to-[#a6c1ee]focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">CONTACT US
                                    </a></button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="p-4 sm:w-1/2 lg:w-1/3">
                    <div class="h-full border-2 border-indigo-700 border-opacity-60 rounded-lg overflow-hidden">
                        <img class="lg:h-72 md:h-48 w-full object-cover object-center"
                            src="/images/services/industrial-reloaction.jpg" alt="blog">
                        <div class="p-6 hover:bg-indigo-700 hover:text-white transition duration-300 ease-in">
                           
                            <h1 class="text-2xl font-semibold mb-3">INDUSTRIAL RELOACTION</h1>
                            <p class="leading-relaxed mb-3">We are completely liable for this and also we give us best offers. This helps us to create a healthy relationship with the costumers.</p>
                            <div class="flex items-center flex-wrap ">
                               
                                <button><a href="/contact"
                                    class="rounded-md  bg-indigo-600 px-3.5 py-2.5 text-sm font-semibold text-white shadow-sm hover:bg-gradient-to-t from-[#fbc2eb] to-[#a6c1ee]focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">CONTACT US
                                    </a></button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="p-4 sm:w-1/2 lg:w-1/3">
                    <div class="h-full border-2 border-indigo-700 border-opacity-60 rounded-lg overflow-hidden">
                        <img class="lg:h-72 md:h-48 w-full object-cover object-center"
                            src="/images/services/international-reloaction.jpg" alt="blog">
                        <div class="p-6 hover:bg-indigo-700 hover:text-white transition duration-300 ease-in">
                           
                            <h1 class="text-2xl font-semibold mb-3">INTERNATIONAL RELOACTION</h1>
                            <p class="leading-relaxed mb-3">As a leading firm in the field of packers and movers, we are capable to offer you the most advanced international transportation facilities.</p>
                            <div class="flex items-center flex-wrap ">
                               
                                <button><a href="/contact"
                                    class="rounded-md  bg-indigo-600 px-3.5 py-2.5 text-sm font-semibold text-white shadow-sm hover:bg-gradient-to-t from-[#fbc2eb] to-[#a6c1ee]focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">CONTACT US
                                    </a></button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="p-4 sm:w-1/2 lg:w-1/3">
                    <div class="h-full border-2 border-indigo-700 border-opacity-60 rounded-lg overflow-hidden">
                        <img class="lg:h-72 md:h-48 w-full object-cover object-center"
                            src="/images/services/heavy-machinary.jpg" alt="blog">
                        <div class="p-6 hover:bg-indigo-700 hover:text-white transition duration-300 ease-in">
                           
                            <h1 class="text-2xl font-semibold mb-3">HEAVY MACHINARY SHIFTING</h1>
                            <p class="leading-relaxed mb-3">Kiran Transport Packers & Movers provide Industrial and Machinery Moving service in India. With the use of Latest & advanced technology.</p>
                            <div class="flex items-center flex-wrap ">
                                <button><a href="/contact"
                                    class="rounded-md  bg-indigo-600 px-3.5 py-2.5 text-sm font-semibold text-white shadow-sm hover:bg-gradient-to-t from-[#fbc2eb] to-[#a6c1ee]focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">CONTACT US
                                    </a></button>
                               
                            </div>
                        </div>
                    </div>
                </div>
                <div class="p-4 sm:w-1/2 lg:w-1/3">
                    <div class="h-full border-2 border-indigo-700 border-opacity-60 rounded-lg overflow-hidden">
                        <img class="lg:h-72 md:h-48 w-full object-cover object-center"
                            src="/images/services/transit-insurence.jpg" alt="blog">
                        <div class="p-6 hover:bg-indigo-700 hover:text-white transition duration-300 ease-in">
                           
                            <h1 class="text-2xl font-semibold mb-3">TRANSIT INSURENCE</h1>
                            <p class="leading-relaxed mb-3">We give best Insurance offers. We are among them, who believes in the honesty of work we serve. If we ever create any damages to any of the goods.</p>
                            <div class="flex items-center flex-wrap ">
                                <button><a href="/contact"
                                    class="rounded-md  bg-indigo-600 px-3.5 py-2.5 text-sm font-semibold text-white shadow-sm hover:bg-gradient-to-t from-[#fbc2eb] to-[#a6c1ee]focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">CONTACT US
                                    </a></button>
                               
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

     <!-- footer section -->
     <footer class="relative bg-gradient-to-bl from-gray-900 via-black to-sky-950 to95% text-gray-50">
        <div class="container mx-auto px-6">
            <div class="grid-cols-12">
                <div class="col-span-12">
                    <div class="py-[60px] px-0">
                        <div class="grid md:grid-cols-12 grid-cols-1 gap-[30px]">
                            <div class="lg:col-span-4 md:col-span-12">
                                <span
                                    class="text-2xl text-indigo-400 font-semibold flex justify-center lg:justyfy-start">Kiran Transport</span>
                                <p class="mt-6 text-gray-300 text-jutify">We provide a smooth delivery of various things related to your furniture or either your workhouse materials to the specific place mentioned. It is a home based company now but will land up into various more cities according to the tracking provided.
                                </p>
                                <ul class="list-none mt-6 text-center lg:text-jutify">
                                    <li class="inline">
                                        <a href=""
                                            class="font-semibold tracking-wide align-middle transition duration-500 ease-in-out p-1 h-9 inline-flex items-center text-center justify-center text-sm border border-gray-800 rounded-md hover:border-yellow-600 hover:bg-yellow-600"><i
                                                class="fa-brands fa-facebook text-2xl"></i></a>
                                    </li>
                                    <li class="inline">
                                        <a href=""
                                            class="font-semibold tracking-wide align-middle transition duration-500 ease-in-out p-1 h-9 inline-flex items-center text-center justify-center text-sm border border-gray-800 rounded-md hover:border-yellow-600 hover:bg-yellow-600"><i
                                                class="fa-brands fa-instagram text-2xl"></i></a>
                                    </li>
                                    <li class="inline">
                                        <a href=""
                                            class="font-semibold tracking-wide align-middle transition duration-500 ease-in-out p-1 h-9 inline-flex items-center text-center justify-center text-sm border border-gray-800 rounded-md hover:border-yellow-600 hover:bg-yellow-600"><i
                                                class="fa-brands fa-whatsapp text-2xl"></i></a>
                                    </li>
                                    <li class="inline">
                                        <a href=""
                                            class="font-semibold tracking-wide align-middle transition duration-500 ease-in-out p-1 h-9 inline-flex items-center text-center justify-center text-sm border border-gray-800 rounded-md hover:border-yellow-600 hover:bg-yellow-600"><i
                                                class="fa-brands fa-twitter text-2xl"></i></a>
                                    </li>
                                </ul>
                            </div>
                            <div class="lg:col-span-2 md:col-span-4 text-center lg:text-jutify">
                                <h5 class="tracking-[1px] text-indigo-400 font-semibold">Quick Links</h5>
                                <ul class="list-none mt-6">
                                    <li><a href="/about"
                                            class="text-gray-300 hover:text-gray-400 transition-all duration-500 ease-in-out">About
                                            us</a>
                                    </li>

                                    <li class="mt-[10px]">
                                        <a href="/services"
                                            class="text-gray-300 hover:text-gray-400 transition-all duration-500 ease-in-out">Services</a>
                                    </li>
                                    <li class="mt-[10px]">
                                        <a href="/gallary"
                                            class="text-gray-300 hover:text-gray-400 transition-all duration-500 ease-in-out">Gallary</a>
                                    </li>
                                    <li class="mt-[10px]">
                                        <a href="/"
                                            class="text-gray-300 hover:text-gray-400 transition-all duration-500 ease-in-out">Home</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="lg:col-span-2 md:col-span-4 text-center lg:text-jutify">
                                <h5 class="tracking-[1px] text-indigo-400 font-semibold">Important</h5>
                                <ul class="list-none mt-6">
                                    <li><a href="/terms"
                                            class="text-gray-300 hover:text-gray-400 transition-all duration-500 ease-in-out">Terms
                                            of Services
                                            </a>
                                    </li>

                                    <li class="mt-[10px]">
                                        <a href="/policy"
                                            class="text-gray-300 hover:text-gray-400 transition-all duration-500 ease-in-out">Privacy
                                            Policy</a>
                                    </li>
                                    <li class="mt-[10px]">
                                        <a href=""
                                            class="text-gray-300 hover:text-gray-400 transition-all duration-500 ease-in-out">Become
                                            a Partner</a>
                                    </li>
                                    <li class="mt-[10px]">
                                        <a href=""
                                            class="text-gray-300 hover:text-gray-400 transition-all duration-500 ease-in-out">Home</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="lg:col-span-4 md:col-span-12">
                                <span
                                    class="text-2xl text-indigo-400 font-semibold flex justify-center lg:justyfy-start">Get
                                    in Touch
                                </span>
                                <div>
                                    <div class="mt-[16px]">
                                        <label for="price"
                                            class="text-gray-300 hover:text-gray-400 transition-all duration-500 ease-in-out ">Email
                                            Address</label>
                                        <div class="relative mt-2 rounded-md shadow-sm">
                                            <div
                                                class="pointer-events-none absolute inset-y-0 left-0 flex items-center pl-3">
                                               
                                            </div>
                                            <input type="text" name="email" id="email"
                                                class="block w-full rounded-md border-0 py-1.5 pl-7 pr-20 text-gray-900 ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
                                                placeholder="email address">

                                        </div>
                                        
                                    </div>
                                    <div class="mt-[25px]">
                                        <button><a href="#"
                                            class="rounded-md bg-indigo-600 px-3.5 py-2.5 text-sm font-semibold text-white shadow-sm hover:bg-gradient-to-t from-[#fbc2eb] to-[#a6c1ee]focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">SUBMIT
                                            </a></button>
                                    </div>
                                    
                                </div>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>

  

<!-- javascript -->
   <script src="/javascripts/script.js"></script>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</body>
</html>