<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/images/logo.jpeg">
    <title>Kiran Transport Packers and movers</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <!-- FONTS -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
        integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap"
        rel="stylesheet">
    <script src="https://unpkg.com/ionicons@4.5.10-0/dist/ionicons.js"></script>
</head>

<body>

    <div class="w-full h-[50px] bg-indigo-600 flex justify-between items-center text-white text-[20px] px-8">
        <p class="hidden sm:block">
            <i class="fa-solid fa-envelope"></i> kiranmoversandpackers@gmail.com

        </p>
        <p class="animate-bounce mx-auto">
            <i class="fa-solid fa-phone"></i> Call : 8789843898
        </p>
    </div>

    <!-- navbar -->
    <header class="bg-gradient-to-t from-[#fbc2eb] to-[#a6c1ee] ">
        <nav class="flex justify-between items-center w-[92%]  mx-auto">
            <div>
                <img class="w-[100px] h-[64px] cursor-pointer" src="/images/logo.jpeg"
                    alt="..." style="mix-blend-mode:darken;">
            </div>
            <div
                class="navbar duration-500 md:static absolute bg-gradient-to-t from-[#fbc2eb] to-[#a6c1ee]  md:min-h-fit min-h-[60vh] left-0 top-[-100%] md:w-auto  w-full flex items-center px-5">
                <ul class="flex md:flex-row flex-col md:items-center md:gap-[4vw] gap-8">
                    <li>
                        <a class="font-bold hover:text-gray-500" href="/">HOME</a>
                    </li>
                    <li>
                        <a class="font-bold hover:text-gray-500" href="/about">ABOUT</a>
                    </li>
                    <li>
                        <a class="font-bold hover:text-gray-500" href="/services">SERVICES</a>
                    </li>
                    <li>
                        <a class="font-bold hover:text-gray-500" href="/gallary">GALLERY</a>
                    </li>
                    <li>
                        <a class="font-bold hover:text-gray-500" href="/contact">CONTACT</a>
                    </li>
                </ul>
            </div>
            <div class="flex items-center gap-6">
                <button
                    class="bg-indigo-600 hover:border-2 hover:border-black text-white px-5 py-2 rounded-full  hover:bg-gradient-to-t from-[#fbc2eb] to-[#a6c1ee] hover:text-black hidden sm:block">
                    <i class="fa-solid fa-phone"></i>CALL US</button>
                <ion-icon onclick="onToggleMenu(this)" name="menu" class="text-3xl cursor-pointer md:hidden"></ion-icon>
            </div>
    </header>
    <div class="w-full h-[100px] flex justify-center text-center items-center  text-white"
        style="background-image:linear-gradient(rgba(0, 0, 0, .7), rgba(0, 0, 0, .7)), url(/images/hero-bg.jpg);">
        <div>
            <h class="text-3xl">Terms & Conditions</h>
            <h5 class="font-bold"><a href="/">Home</a> <span class=" ">! Terms & Conditions</span></h5>
        </div>
    </div>

    <!-- pilicy section -->
    <div>
        <h1 class="text-4xl text-center font-bold mt-16">Terms & Conditions</h1>

        <div class=" items-center px-3 sm:px-24">
            <p class="mt-5">Kiran Transport  Packers & Movers
                           have certain terms and conditions to be followed
                by you while availing our services. These include:</p>
            <ul class="list-disc pl-[32px]">
                <li>1.Kiran Transport  Packers & Movers
                           or its representative will not be responsible for any
                    kind of damages or loss occurred to your goods due to natural calamity, unforeseen accident, fire,
                    riots or sabotage. Therefore, to avoid such loss, we advise you to insure your shipment to avoid
                    risk.</li>
                <li>2. We are not responsible to undertake electrical, carpentry, or plumbing work. If needed we will
                    provide those depending upon the availability of the staff with extra charges.</li>
                <li>3. We undertake the risk of your goods, but no individual policy/receipt from the insurance company
                    will be given.</li>
                <li>4. We provide storage facility to our customers at a lower rate. However, for loading, unloading,
                    and local delivery, we take extra charges.</li>
                <li>5. We would be thankful if you intimate us 3-4 days earlier to deliver hassle free packaging.</li>
                <li>6. Please pay 25% in advance on total amount.</li>
                <li>7. If you want to take extra goods apart from those mentioned in the goods list you are welcome.
                    However, we charge extra money for such items.</li>
                <li>8. For car transportation, it is mandatory that your car should contain adequate amount of Petrol or
                    Diesel.</li>
                <li>9. After local shifting corrugated box should be return back on the same day. If the customer is
                    sending the boxes next day, we charge a certain amount.</li>
                <li>10. We will charge extra in case you call our packers on the subsequent day for your convenience.
                </li>

            </ul>
            <p>It is to be noted that the above mentioned terms and conditions may change in future as per the
                requirement of Kiran Transport  Packers & Movers
                          .</p>
            <h1 class="mt-6 text-3xl font-bold">
                Our Policy for the Cancellation and Refund are as follows:
            </h1>
            <h1 class="mt-6 text-3xl font-semi-bold">
                Cancellation Policy
            </h1>
            <p class="mt-5">
                In case you wish to cancel your orders placed at Kiran Transport  Packers & Movers
                          , you could
                do so within 24 hrs of the orders placed. The cancellation would not be done once the consignment has
                already been shipped.
            </p>
            <h1 class="mt-6 text-3xl font-semi-bold">
                Refund Policy
            </h1>
            <p class="mt-5">
                In case of a cancellation, please get in touch with our customer care for a refund of your money with
                all required proofs.
            </p>
            <h1 class="mt-6 text-3xl font-semi-bold">
                Pricing Policy
            </h1>
            <p class="mt-5">
                The rates are subject to the nature and kind of services you avail as per your requirement which may
                depend upon its factors such as volume, distance and for other ancillary services desired to avail.
            </p>
            <p class="mt-5">
                The rates are subject to the nature and kind of services you avail as per your requirement which may
                depend upon its factors such as volume, distance and for other ancillary services desired to avail.
            </p>






        </div>


    </div>





<!-- footer section -->
<footer class="relative bg-gradient-to-bl from-gray-900 via-black to-sky-950 to95% text-gray-50">
    <div class="container mx-auto px-6">
        <div class="grid-cols-12">
            <div class="col-span-12">
                <div class="py-[60px] px-0">
                    <div class="grid md:grid-cols-12 grid-cols-1 gap-[30px]">
                        <div class="lg:col-span-4 md:col-span-12">
                            <span
                                class="text-2xl text-indigo-400 font-semibold flex justify-center lg:justyfy-start">Kiran Transport
                                </span>
                            <p class="mt-6 text-gray-300 text-jutify">We provide a smooth delivery of various things
                                related to your furniture or either your workhouse materials to the specific place
                                mentioned. It is a home based company now but will land up into various more cities
                                according to the tracking provided.
                            </p>
                            <ul class="list-none mt-6 text-center lg:text-jutify">
                                <li class="inline">
                                    <a href=""
                                        class="font-semibold tracking-wide align-middle transition duration-500 ease-in-out p-1 h-9 inline-flex items-center text-center justify-center text-sm border border-gray-800 rounded-md hover:border-yellow-600 hover:bg-yellow-600"><i
                                            class="fa-brands fa-facebook text-2xl"></i></a>
                                </li>
                                <li class="inline">
                                    <a href=""
                                        class="font-semibold tracking-wide align-middle transition duration-500 ease-in-out p-1 h-9 inline-flex items-center text-center justify-center text-sm border border-gray-800 rounded-md hover:border-yellow-600 hover:bg-yellow-600"><i
                                            class="fa-brands fa-instagram text-2xl"></i></a>
                                </li>
                                <li class="inline">
                                    <a href=""
                                        class="font-semibold tracking-wide align-middle transition duration-500 ease-in-out p-1 h-9 inline-flex items-center text-center justify-center text-sm border border-gray-800 rounded-md hover:border-yellow-600 hover:bg-yellow-600"><i
                                            class="fa-brands fa-whatsapp text-2xl"></i></a>
                                </li>
                                <li class="inline">
                                    <a href=""
                                        class="font-semibold tracking-wide align-middle transition duration-500 ease-in-out p-1 h-9 inline-flex items-center text-center justify-center text-sm border border-gray-800 rounded-md hover:border-yellow-600 hover:bg-yellow-600"><i
                                            class="fa-brands fa-twitter text-2xl"></i></a>
                                </li>
                            </ul>
                        </div>
                        <div class="lg:col-span-2 md:col-span-4 text-center lg:text-jutify">
                            <h5 class="tracking-[1px] text-indigo-400 font-semibold">Quick Links</h5>
                            <ul class="list-none mt-6">
                                <li><a href="/about"
                                        class="text-gray-300 hover:text-gray-400 transition-all duration-500 ease-in-out">About
                                        us</a>
                                </li>

                                <li class="mt-[10px]">
                                    <a href="/services"
                                        class="text-gray-300 hover:text-gray-400 transition-all duration-500 ease-in-out">Services</a>
                                </li>
                                <li class="mt-[10px]">
                                    <a href="/gallary"
                                        class="text-gray-300 hover:text-gray-400 transition-all duration-500 ease-in-out">Gallary</a>
                                </li>
                                <li class="mt-[10px]">
                                    <a href="/"
                                        class="text-gray-300 hover:text-gray-400 transition-all duration-500 ease-in-out">Home</a>
                                </li>
                            </ul>
                        </div>
                        <div class="lg:col-span-2 md:col-span-4 text-center lg:text-jutify">
                            <h5 class="tracking-[1px] text-indigo-400 font-semibold">Important</h5>
                            <ul class="list-none mt-6">
                                <li><a href="/terms"
                                        class="text-gray-300 hover:text-gray-400 transition-all duration-500 ease-in-out">Terms
                                        of Services
                                        </a>
                                </li>

                                <li class="mt-[10px]">
                                    <a href="/policy"
                                        class="text-gray-300 hover:text-gray-400 transition-all duration-500 ease-in-out">Privacy
                                        Policy</a>
                                </li>
                                <li class="mt-[10px]">
                                    <a href=""
                                        class="text-gray-300 hover:text-gray-400 transition-all duration-500 ease-in-out">Become
                                        a Partner</a>
                                </li>
                                <li class="mt-[10px]">
                                    <a href="/"
                                        class="text-gray-300 hover:text-gray-400 transition-all duration-500 ease-in-out">Home</a>
                                </li>
                            </ul>
                        </div>
                        <div class="lg:col-span-4 md:col-span-12">
                            <span
                                class="text-2xl text-indigo-400 font-semibold flex justify-center lg:justyfy-start">Get
                                in Touch
                            </span>
                            <div>
                                <div class="mt-[16px]">
                                    <label for="price"
                                        class="text-gray-300 hover:text-gray-400 transition-all duration-500 ease-in-out ">Email
                                        Address</label>
                                    <div class="relative mt-2 rounded-md shadow-sm">
                                        <div
                                            class="pointer-events-none absolute inset-y-0 left-0 flex items-center pl-3">

                                        </div>
                                        <input type="text" name="email" id="email"
                                            class="block w-full rounded-md border-0 py-1.5 pl-7 pr-20 text-gray-900 ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
                                            placeholder="email address">

                                    </div>

                                </div>
                                <div class="mt-[25px]">
                                    <button><a href="#"
                                            class="rounded-md bg-indigo-600 px-3.5 py-2.5 text-sm font-semibold text-white shadow-sm hover:bg-gradient-to-t from-[#fbc2eb] to-[#a6c1ee]focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">SUBMIT
                                        </a></button>
                                </div>

                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>





    <!-- javascript -->
    <script src="/javascripts/script.js"></script>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</body>

</html>